!!!
%html{:lang => 'en'}

	= Haml::Engine.new(File.read('dev/haml/partials/_m-head.haml')).render

	%body

		:plain
			<!-- inject:svg --><!-- endinject -->

		-# = Haml::Engine.new(File.read('dev/haml/partials/_m-nav.haml')).render

		%main{:role => 'main'}

			%section.player

				%h1 Trillion Player Generator

		%script{:src => 'assets/js/scripts.js'}