!!!
%html{:lang => 'en'}

	= Haml::Engine.new(File.read('dev/haml/partials/_m-head.haml')).render

	%body

		:plain
			<!-- inject:svg --><!-- endinject -->

		-# = Haml::Engine.new(File.read('dev/haml/partials/_m-nav.haml')).render

		%main{:role => 'main'}

			%section.player

				%h1 Trillion Player Generator

				%article.avatar
					%img.body{ :src => 'assets/img/player/body/Body_L_Plain_d-bl.png', :width => '256', :height => '256', :alt => ''}
					%img.head{ :src => 'assets/img/player/head/Head_Normal_d-wh.png', :width => '256', :height => '256', :alt => ''}
					%img.mouth{:src => 'assets/img/player/mouth/Mouth_bigkiss_l-bl.png', :width => '256', :height => '256', :alt => ''}
					%img.face{ :src => 'assets/img/player/face/Face_alien.png', :width => '256', :height => '256', :alt => ''}
					%img.hair{ :src => 'assets/img/player/hair/Hair_afro_l-bl.png', :width => '256', :height => '256', :alt => ''}
					%img.flair{:src => 'assets/img/player/flair/Flair_3d.png', :width => '256', :height => '256', :alt => ''}

		%script{:src => 'assets/js/scripts.js'}