!!!
%html{:lang => 'en'}

	= Haml::Engine.new(File.read('dev/haml/partials/_m-head.haml')).render

	%body

		:plain
			<!-- inject:svg --><!-- endinject -->

		-# = Haml::Engine.new(File.read('dev/haml/partials/_m-nav.haml')).render

		%main{:role => 'main'}

			%section.player

				%h1 Trillion
				%h2 Player Generator

				-# :width => '256', :height => '256',
				%article#player_avatar.avatar
					%img.static{ :src => 'assets/img/static.gif', :alt => ''}
					%img.body{ :src => '', :alt => ''}
					%img.head{ :src => '', :alt => ''}
					%img.mouth{:src => '', :alt => ''}
					%img.face{ :src => '', :alt => ''}
					%img.hair{ :src => '', :alt => ''}
					%img.flair{:src => '', :alt => ''}

				%a#generate{:href => '#', :title => 'Generate!'} Generate That Shit

		%script{:src => 'assets/js/scripts.js'}