// ==|== primary styles =======================================================
// Author: Northern Army
// ============================================================================

// Foundation
// ----------------------------------------------------------------------------
html {
	font-family: 'brandon-grotesque', 'Brandon Grotesque', Futura, 'Trebuchet MS', Arial, sans-serif;
}
body {
	position: relative;
}
::-moz-selection {
	background: #000;
}
::selection {
	background: #000;
}

// Transitions
// ----------------------------------------------------------------------------
nav > a {
	transition: transform 0.2s ease-in-out, opacity 1s ease-in-out;
}

// General Styles
// ----------------------------------------------------------------------------
main {
}
section {
}
article {
}
svg {
	display: block;
	width: 100%;
	height: 100%;
}

// Navigation
// ----------------------------------------------------------------------------
nav {
}


// ==|== sections =============================================================
// ============================================================================

// Intro Section
// ----------------------------------------------------------------------------
section.intro {
}