// ==|== primary styles =======================================================
// Author: Northern Army
// ============================================================================

// Foundation
// ----------------------------------------------------------------------------
html {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}
body {
	position: relative;
	padding: 6rem;
	color: #fff;
	background-color: #000;
}
::-moz-selection {
	background: #000;
}
::selection {
	background: #000;
}

// Transitions
// ----------------------------------------------------------------------------
nav > a {
	transition: transform 0.2s ease-in-out, opacity 1s ease-in-out;
}

// General Styles
// ----------------------------------------------------------------------------
main {
	height: 100vh;
}
section {
	height: 100vh;
}
article {
}
svg {
	display: block;
	width: 100%;
	height: 100%;
}

// Navigation
// ----------------------------------------------------------------------------
nav {
}


// ==|== sections =============================================================
// ============================================================================

// Avatar
// ----------------------------------------------------------------------------
section.player {
}
section.player h1 {
	margin-bottom: 8rem;
	font-size: 3.2rem;
	letter-spacing: 0.6rem;
	text-align: center;
	text-transform: uppercase;
}
// --- Avatar --- \\
article.avatar {
	position: relative;
	margin: 0 auto;
	width: 25.6rem;
	height: 25.6rem;
	box-shadow: 0 0 0 1px #fff; // border: 1px solid #fff;
/*
	background-image: url('../img/question-mark.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
*/
}
article.avatar img {
	position: absolute;
	top: 0;
	left: 0;
}