%head

	%meta{:charset => 'utf-8'}
	%meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge'}

	%title player generator | Trillion

	%meta{:name => 'description', :content => 'player generator prototype for Trillion'}
	%meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0, user-scalable=no'}

	%meta{:name => 'robots', :content => 'noindex, nofollow'}

	%meta{:name => 'apple-mobile-web-app-capable', :content => 'yes'}
	%meta{:name => 'apple-mobile-web-app-status-bar-style', :content => 'black'}

	%link{:rel => 'stylesheet', :href => 'assets/css/styles.css'}

	-# %script{:src => 'assets/js/modernizr.js'}

	-# = Haml::Engine.new(File.read('dev/haml/partials/_js-webfonts.haml')).render